.container{
    width: 80%;
    margin: 0 auto;
}
.containerlogin{
    width: 30%;
    margin: 180px auto;
}
.col{
    width: 100px;
    padding: 7px;
}
.col button{
    width: 100px;
    padding: 7px;
    display: inline;
}
label, input{
    padding: 7px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    padding: 5px;
    font-size: 16px;
    color: white;
    background-color: black;
    text-decoration: none;
}
.col-md{
    width: 100px;
    padding: 5px;
}
 button{
    font-size: 14px;
    padding: 7px;
    display: block;
    margin-left: 135px;
 }